---
permalink: /posts
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Blog | {{ site.title }}</title>
		<link rel="icon" href="/assets/icons/logo.svg">
		<link rel="stylesheet" href="/assets/css/styles.css">
	</head>

	<body class="page-blog">
		{% include header.html title="Blog" %}

		<main class="page-blog__container">
			<h1 class="page-blog__title">Latest Posts</h1>

			{% assign posts = site.blog | sort: 'date' | reverse %}
			{% for post in posts %}
			<article class="post">
				<div class="post__img">
					<a href="#">
						<img scr="/assets/images/1920-1080-sample.jpg">
					</a>
				</div>
				<div>
					<time class="post__time">{{ post.date | date: "%Y-%m-%d" }}</time>
					<a class="post__link" href="{{ post.url | relative_url }}">
						<h1 class="post__title">
							{{ post.title }}
						</h1>
					</a>
					<p>{{ post.desc}}</p>
					{% include tags.html %}
				</div>
			</article>
			{% endfor %}
		</main>
	</body>
</html>
