---
---
<!DOCTYPE html>
<html lang="en">
	{% include head.html type="simple" %}

	<body class="page-index">
		<h1 class="page-index__title">Welcome to {{ site.title }}</h1>
		<p class="page-index__desc">
			My personal knowledge management where you can find notes on various topics that interest me like pentesting, gaming, programming, computer science, etc...
		</p>
		<div class="page-index__container">
			{% include card.html title="Notes" desc="Personal notes, quick references, and learning summaries." link="/notes/welcome" linktext="Explore Notes" %}
			
			{% include card.html title="Blog" desc="Thoughts, tutorials, and long-form articles I've written." link="/blog/posts" linktext="Read Posts" %}
		</div>

		<footer class="page-index__footer">
			{% include copyright.html %}
		</footer>
	</body>
</html>
