<header class="header">
	<div class="header__left-side">
		{% include hamburger.html %}
		<div class="left-side__info">
			<img class="site-logo" src="/assets/icons/logo.svg" alt="Site Icon">
			<a class="site-title" href="/">{{ site.title }}</a>
		</div>
	</div>

	<div class="header__right-side">
		<button class="btn-search">
			<img src="/assets/icons/search.svg" alt="Search Icon">
		</button>
		<button class="toc-btn" id="toc-btn">
			<img src="/assets/icons/toc.svg" alt="Toc Icon">
		</button>
	</div>
</header>
