{% if include.name == "context" %}
	{% assign title = include.name %}
	{% assign items = page.context %}
{% elsif include.name == "related" %}
	{% assign title = include.name %}
	{% assign items = page.related %}
{% elsif include.name == "see-also" %}
	{% assign title = "See Also" %}
	{% assign items = page.seeAlso %}
{% endif %}

{% if items and items.size > 0 %}
<div class="sublinks">
	<h2 class="sublinks__title">{{ title }}</h2>
	<ul class="sublinks__list">
		{% for item in items %}
		<li>
			{% assign link_text_part = item | split: "]" | first %}
			{% assign item_text = link_text_part | remove_first: "[" %}
			{% assign url_part = item | split: "(" | last %}
			{% assign item_link = url_part | remove_last: ")" %}
			<a class="sublinks__link" href={{ item_link }}>{{ item_text }}</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
