.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.625rem;
  height: 3.5rem;
  background-color: $bg-color-alt;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid $bg-color;

  &__left-side,
  &__right-side {
    display: flex;
    gap: 0.6rem;
  }
}

.left-side__info {
  display: flex;
  align-items: center;
}

.site-logo {
  display: none;
  width: 26px;
  margin-right: 0.25rem;
}

.site-title {
  font-size: 1.25rem;
  text-decoration: none;
  color: #fff;
}

.btn-search {
  display: flex;
  justify-contents: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  cursor: pointer;
  border: none;

  & img {
    width: 20px;
  }
}

// Breakpoints
@media (min-width: 50rem) {
  .header {
    height: 4rem;
    padding: 0 1rem;
  }

  .site-logo {
    display: block;
  }
}
