.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
  height: 3.125rem;
  background-color: $bg-color;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid $bg-color-alt;

  &__left-side,
  &__right-side {
    display: flex;
    gap: 0.6rem;
  }

  &__right-side {
    gap: 0rem;
  }
}

.left-side__info {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.site {
  &-logo {
    display: none;
    width: 26px;
    margin-right: 0.25rem;
  }

  &-title {
    font-size: 1.125rem;
    text-decoration: none;
    color: #fff;
  }
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  & img {
    width: 20px;
    padding-bottom: 0.125rem;
  }
}

// Breakpoints
@media (min-width: 46.876rem) {
  .header {
    height: 4rem;
    padding: 0 1rem;
  }

  .site-logo {
    display: block;
  }
}
