.container {
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  width: 100%;

  &__sidebar-left {
    visibility: hidden;
    position: fixed;
    top: 3.5rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 3.5rem);
    background-color: #222;
    color: #fff;
    padding: 1rem;
    z-index: 100;

    &--active {
      visibility: visible;
    }
  }

  &__sidebar-right {
    position: fixed;
    top: 3.5rem;
    right: -80%;
    height: calc(100vh - 3.5rem);
    width: 80%;
    max-width: 280px;
    background-color: #222;
    color: white;
    padding: 1.25rem;
    transition: right 0.3s ease-in-out;
    z-index: 50;

    &--active {
      right: 0;
    }


    & ul {
      list-style: none;
      padding: 0;
    }
  }

}

.content-toc {

  &__title {
    margin-top: 0;
    padding-left: 0;
    font-size: 1.125rem;
  }
}

.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;


  &__link {
    display: block;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    color: hsl(224, 0%, 77%);
    border-radius: 0.5rem;

    &:hover {
      color: hsl(0, 0%, 100%);
    }

    &--active {
      background-color: hsl(0, 0, 60%);
      font-weight: bold;
      color: $bg-color;
      font-weight: 600;

      &:hover {
        color: $bg-color;
      }
    }
  }
}

.reference-title {
  color: #5dc1b9;
}


/* Container around the code block */
.highlight {
  overflow-x: auto;
  padding: 1rem;

  & pre {
    border-radius: 4px;
    background-color: #2b2b2b;
    border: 1px solid #444;
    margin: 0;
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #f8f8f2;
  }

  & code {
    background: transparent; 
    padding: 0;
    font-size: inherit;
    color: inherit;
  }
}

// Breakpoints
@media (min-width: 50rem) {
  .container {

    &__sidebar-left {
      top: 4rem;
      background-color: $bg-color-alt;
      visibility: visible;
      width: 300px;
      height: calc(100vh - 4rem);
    }

    &__wrapper {
      display: flex;
    }

    &__content {
      padding-left: 300px;
    }

    &__sidebar-right {
      height: calc(100vh - 4rem);
      top: 4rem;
    }
  }
}

@media (min-width: 72rem) {
  .container {
    padding-top: 4rem;

    &__sidebar-right {
      position: relative;
      inset: 0;
      z-index: 0;
      background-color: $bg-color;
      border-left: 1px solid $c;
    }
  }

  .content-toc {
    position: fixed;
  }
}
