.container {
  padding-top: 3.125rem;

  &__sidebar-left {
    visibility: hidden;
    position: fixed;
    top: 3.5rem;
    left: 0;
    width: 100vw;
    height: calc(100vh - 3.5rem);
    background-color: $bg-color;
    color: #fff;
    z-index: 100;

    &-inner {
      padding: 1.5rem;
    }

    &--active {
      visibility: visible;
    }
  }

  &__content {
    padding: 1.5rem;

    & ul {
      padding-left: 1rem; 

      & li {
        line-height: 1.375rem;
      }
    }
  }
  
  &__sidebar-right {
    position: fixed;
    top: 3.125rem;
    right: -75%;
    height: calc(100vh - 3.125rem);
    width: 75%;
    max-width: 300px;
    background-color: $bg-color;
    color: #fff;
    padding: 1.25rem;
    transition: right 0.3s ease-in-out;
    z-index: 50;
    border-left: 1px solid $c;

    &--active {
      right: 0;
    }


    & ul {
      list-style: none;
      padding: 0;
    }
  }

}

.content-toc {
  width: 300px;

  &__title {
    margin-top: 0;
    padding-left: 0;
    font-size: 1.125rem;
  }
}

.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1.25rem;

  &__link {
    display: block;
    padding: 0.3rem 0;
    text-decoration: none;
    color: hsl(224, 0%, 77%);
    border-radius: 0.25rem;

    &:hover {
      color: hsl(0, 0%, 100%);
    }
  }
}

.reference-title {
  color: #5dc1b9;
}


/* Container around the code block */
.highlight {
  overflow-x: auto;
  padding: 1rem;

  & pre {
    border-radius: 4px;
    background-color: #2b2b2b;
    border: 1px solid #444;
    margin: 0;
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #f8f8f2;
  }

  & code {
    background: transparent; 
    padding: 0;
    font-size: inherit;
    color: inherit;
  }
}


// Breakpoints
@media (min-width: 46.876rem) {
  .container {
    display: flex;
    padding-top: 4rem;

    &__sidebar-left {
      position: relative;
      top: 0;
      z-index: 0;
      background-color: $bg-color;
      visibility: visible;
      width: auto;
      min-width: 280px;
      height: calc(100vh - 3.125rem;);

      &-inner {
        position: fixed;
        border-right: 1px solid $c;
        width: 280px;
        height: 100%;
      }
    }

    &__wrapper {
      display: flex;
      flex: 2 1 500px;
    }

    &__content {
      padding: 3rem;
    }

    &__sidebar-right {
      height: calc(100vh - 4rem);
      top: 4rem;
    }
  }
}

@media (min-width: 70rem) {
  .container {
    &__sidebar-left {
      width: 300px;
    }

    &__sidebar-right {
      display: flex;
      position: relative;
      justify-content: flex-start;
      top: 0;
      z-index: 0;
      background-color: $bg-color;
      min-width: 280px;
      height: calc(100vh - 3.125rem;);
      flex: 1 calc((100vw - 600px) / 2);
      padding: 0;
      border-left: none;
      inset: 0;

      &-inner {
        position: fixed;
        width: 280px;
        height: 100%;
        padding: 2.5rem 1.5rem;
      }
    }
  }
}
