.content-toc__list {
  margin: 0;
  padding: 1rem;
  font-size: 0.875rem;
  list-style-type: none;

  & > li ul {
    padding-left: 1rem;
  }

  & ul {
    list-style-type: none;
  }

  & a {
    display: block;
    color: hsl(224, 0%, 77%);
    text-decoration: none;
    padding: 0.25rem 0;

    &:hover {
      color: hsl(0, 0%, 100%);
    }
  }

  & .active {
    color: $text-muted;
  }
}

.toc-btn {
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 60;

  & img {
    width: 20px;
  }
}


@media (min-width: 72rem) {
  .toc-btn {
    display: none;
  }
}
