.page-blog {
  padding-top: var(--xs-navbar-height);

  &__container {
    padding: var(--xs-content-pad);
    max-width: 1536px;
    margin-inline: auto;
  }

  &__title {
    margin: 0 0 2.5rem;
    font-size: var(--xs-h1-font-size);
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    margin-bottom: 1rem;
  }

  &__time,
  &__link {
    display: block;
  }

  &__time {
    min-width: 120px;
  }

  &__link {
    text-decoration: none;
    color: var(--link);
    font-weight: 700;
  }
}

.page-blog .post {
  background-color: var(--surface-05);
  border: 1px solid var(--surface-10);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 1.25rem;

  &__title {
    font-size: 1.375rem;
    color: white;
  }
}
