.page-default {

  &__container {
    padding-top: var(--xs-navbar-height);

    @include sm-screen(){
      padding-top: var(--sm-navbar-height);
    }
  }

  &__frame {
    max-width: 1536px;
    margin: 0 auto;

    @include sm-screen(){
      display: flex;
    }
  }

  &__wrapper {
    position: relative;

    @include md-screen(){
      display: flex;
      justify-content: space-between;
      flex: 2 1 500px;
    }
  }

  &__content {
    padding: var(--xs-content-pad);
    margin-inline: auto;
    max-width: 800px;

    @include sm-screen(){
      padding: var(--sm-content-pad);
    }

    @include lg-screen(){
      padding: var(--lg-content-pad);
    }

    & h1 {
      margin: 0 0 1.5rem;
      font-size: var(--xs-h1-font-size);
      line-height: var(--xs-h1-line-height);
    }

    & h2, h3, h4, h5, h6 {
      font-weight: 600;
      margin-top: 2rem;
    }

    & h2 {
      font-size: --h2-size;
    }

    & h3 {
      font-size: --h3-size;
    }

    & p {
      color: var(--text-normal);
      margin: 1.25rem 0;
    }

    & blockquote {
      margin: 0;
    }

    & code {
      background-color: var(--code-inline-bg);
      padding: 1px 0.25rem;
      border-radius: 0.25rem;
    }

    & ul {
      padding-left: 1rem; 
      color: var(--text-normal);

      & li {
        line-height: 1.375rem;
      }
    }
  }
}

.sidebar {
  position: fixed;
  width: 100vw;
  background-color: var(--bg-primary);
  visibility: hidden;

  @include lg-screen(){
    position: relative;
    top: 0;
    z-index: 0;
    background-color: var(--bg-primary);
    visibility: visible;
    width: auto;
    min-width: 280px;
  }

  &__inner {
    padding: 1.25rem 1rem;

    @include md-screen(){
      border-right: none;
    }

    @include lg-screen(){
      position: fixed;
      width: 280px;
      height: 100%;
    }

    &--left {
      position: fixed;
      width: 100%;
      height: 100%;

      @include md-screen(){
        width: 280px;
        border-right: 1px solid var(--border-color);
        height: inherit;
      }

      @include lg-screen(){
        border-right: none;
      }
    }

    &--right {
      padding: 0;

      @include lg-screen(){
        position: fixed;
        width: 280px;
        height: 100%;
        padding: 2rem 1rem;
      }
    }
  }

  &--left {
    top: var(--xs-navbar-height);
    left: 0;
    height: calc(100vh - var(--xs-navbar-height));
    z-index: 100;

    @include md-screen(){
      position: relative;
      top: 0;
      z-index: 0;
      background-color: var(--bg-primary);
      visibility: visible;
      width: auto;
      min-width: 280px;
      height: calc(100vh - var(--md-navbar-height));
    }
  }

  &--right {
    position: absolute;
    top: 1.5rem;
    left: 50%;
    background-color: var(--toc);
    width: calc(100% - var(--xs-toc-margin-x));
    transform: translateX(-50%);
    border: 1px solid var(--border-color);
    border-radius: 0.375rem;
    padding: 0;

    @include lg-screen(){
      display: flex;
      position: relative;
      justify-content: flex-start;
      inset: 0;
      z-index: 0;
      background-color: var(--bg-primary);
      min-width: 280px;
      max-width: 300px;
      height: calc(100vh - var(--md-navbar-height));
      flex: 1 calc((100vw - 600px) / 2);
      padding: 0;
      border: none;
      transform: none;
    }
  }

  &--active {
    visibility: visible;
  }
}

.navigation {
  margin: 0;
  padding: 0.5rem;
  list-style-type: none;
  line-height: 1.25rem;

  &__link {
    display: block;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    color: var(--text-muted);
    border-radius: 0.25rem;
    font-size: 0.875rem;

    @include md-screen(){
      font-size: 0.9125rem;
    }

    &:hover {
      color: var(--text-normal);
    }

    &--active {
      color: var(--clr-grey-dark);
      font-weight: 700;
    }
  }
}

/* Container around the code block */
.highlight {
  overflow-x: auto;
  padding: 1rem;

  & pre {
    border-radius: 4px;
    background-color: #2b2b2b;
    border: 1px solid #444;
    margin: 0;
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #f8f8f2;
  }

  & code {
    background: transparent; 
    padding: 0;
    font-size: inherit;
    color: inherit;
  }
}
