$sm: 30rem;   // 480px
$md: 48rem;   // 768px
$lg: 64rem;   // 1024px
$xl: 80rem;   // 1280px
$xxl: 96rem;  // 1536px


@mixin sm-screen {
  @media (min-width: $sm) {
    @content
  }
}

@mixin md-screen {
  @media (min-width: $md) {
    @content
  }
}

@mixin lg-screen {
  @media (min-width: $lg) {
    @content
  }
}

@mixin xl-screen{
  @media (min-width: $xl) {
    @content
  }
}

@mixin xxl-screen {
  @media (min-width: $xxl) {
    @content
  }
}

//@media (min-width: 70rem) {
//  .container {
//    &__sidebar-left {
//      width: 300px;
//    }
//
//    &__sidebar-right {
//      display: flex;
//      position: relative;
//      justify-content: flex-start;
//      top: 0;
//      z-index: 0;
//      background-color: $primary;
//      min-width: 280px;
//      height: calc(100vh - 3.125rem;);
//      flex: 1 calc((100vw - 600px) / 2);
//      padding: 0;
//      border-left: none;
//      inset: 0;
//
//      &-inner {
//        position: fixed;
//        width: 280px;
//        height: 100%;
//        padding: 2.5rem 1.5rem;
//      }
//    }
//  }
//}
//
