/* https://web.dev/articles/building/a-color-scheme */

/* Light theme (Default) */
:root {
  color-scheme: light;

  --accent-00: var(--accent-00-light);
  --accent-05: var(--accent-05-light);
  --text-normal: var(--text-normal-light);
  --text-muted: var(--text-muted-light);
  --surface-00: var(--surface-00-light);
  --surface-05: var(--surface-05-light);
  --surface-10: var(--surface-10-light);
  --surface-15: var(--surface-15-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

/* Dark theme (auto) */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

  --accent-00: var(--accent-00-dark);
  --accent-05: var(--accent-05-dark);
  --text-normal: var(--text-normal-dark);
  --text-muted: var(--text-muted-dark);
  --surface-00: var(--surface-00-dark);
  --surface-05: var(--surface-05-dark);
  --surface-10: var(--surface-10-dark);
  --surface-15: var(--surface-15-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
  --link: var(--link-dark);
  --link-alt: var(--link-alt-dark);
  }
}

/* Light theme */
[data-theme="light"] {
  color-scheme: light;

  --accent-00: var(--accent-00-light);
  --accent-05: var(--accent-05-light);
  --text-normal: var(--text-normal-light);
  --text-muted: var(--text-muted-light);
  --surface-00: var(--surface-00-light);
  --surface-05: var(--surface-05-light);
  --surface-10: var(--surface-10-light);
  --surface-15: var(--surface-15-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

/* Dark theme */
[data-theme="dark"] {
  color-scheme: dark;

  --accent-00: var(--accent-00-dark);
  --accent-05: var(--accent-05-dark);
  --text-normal: var(--text-normal-dark);
  --text-muted: var(--text-muted-dark);
  --surface-00: var(--surface-00-dark);
  --surface-05: var(--surface-05-dark);
  --surface-10: var(--surface-10-dark);
  --surface-15: var(--surface-15-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
  --link: var(--link-dark);
  --link-alt: var(--link-alt-dark);
}


// :root[data-theme="light"] {
//     color-scheme: light dark;
//     --index-bg-primary: #f6f7f9;
//     --index-bg-primary-alt: #ffffff;
//     --bg-primary: #ffffff;
//     --bg-primary-alt: #f6f7f9;
//     --text-normal: #111827;
//     --text-muted: #6b7280;
//     --text-accent: #0077cc;
//     --border-color: #e0e0e0;
//     --btn-bg: #0075bd;
//     --btn-bg-alt: #007fcc;
//     --btn-text: #f6f7f9;
//     --btn-text-alt: #ffffff;
//     --link: #4d7cff;
//     --link-hover: #ffffff;
//     --theme-switcher-bg: #0077cc;
//     --theme-switcher-text: #f9fafa;
//     --code-inline-bg: #edeef3;
//     --toc: #1c1d1d;
// }

/* Dark Color Scheme (Override) */
// :root[data-theme="dark"] {
//     --heading-h1: #f9fafa;
//
//     --text-normal: #e3e5e8;
//     --text-muted: #c1c3c8;
//     --text-accent: #7c60d9;
//
//     --index-bg-primary: #1f1f1f;
//     --index-bg-primary-alt: #1c1d1d;
//     --bg-primary: #1f1f1f;
//     --bg-primary-alt: #f9fafa;
//     --btn-bg: #6b4dcb;
//     --btn-bg-alt: #7b61d1;
//     --btn-text: #f6f7f9;
//     --btn-text-alt: #ffffff;
//     --border-color: #404040;
//     --link: #b3c7ff;
//     --link-hover: #ffffff;
//     --theme-switcher-bg: #6b4dcb; 
//     --theme-switcher-text: #f9fafa;
//     --code-inline-bg: #333333;
//     --toc: #2d2e2f;
// }

