@import 'abstracts/theme';

:root {
  /* TODO: Change light theme colors */
  --accent-light: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --text1-light: hsl(var(--accent-h) var(--accent-s) 10%);
  --text2-light: hsl(var(--accent-h) 30% 30%);
  --surface1-light: hsl(var(--accent-h) 25% 90%);
  --surface2-light: hsl(var(--accent-h) 20% 99%);
  --surface3-light: hsl(var(--accent-h) 20% 92%);
  --surface4-light: hsl(var(--accent-h) 20% 85%);
  --surface-shadow-light: var(--accent-h) 10% calc(var(--accent-l) / 5);
  --shadow-strength-light: .02;

  --accent-00-dark: #6b4bd4;
  --accent-05-dark: #7c60d9;
  --text-normal-dark: #e3e5e8;
  --text-muted-dark: #c1c3c8;
  --surface-00-dark: #1f1f1f;
  --surface-05-dark: #2c2c2c;
  --surface-10-dark: #393939;
  --surface-15-dark: #454545;
  --surface-shadow-dark: var(--accent-h) 50% 3%;
  --shadow-strength-dark: .8;
  --link-dark: #b3c7ff;
  --link-alt-dark: #ffffff;

  --font-family: Source Sans Pro, system-ui, -apple-system, "Segoe UI", sans-serif, Arial;

  --root-size: 16px;
  --base-size: 1rem;

  --xs-h1-font-size: 2.0625rem;
  --xs-h1-line-height: 2.0625rem;

  --xs-h2-font-size: 1.625rem;
  --xs-h3-font-size: 1.375rem;
  --h4-size: 1.25rem;
  --h5-size: 1.175rem;
  --h6-size: 1.125rem;

  --xs-p-line-height: 1.65rem;

  --xs-content-pad: 2rem 1.125rem;
  --xs-navbar-height: 3.5rem;
  --xs-navbar-pad: 0 1.125rem;
  --xs-toc-margin-x: 2rem; /* twice `--xs-content-pad` second value */

  --sm-content-pad: 2rem 1.5rem;
  --sm-navbar-height: 4rem;

  --md-navbar-pad: 0 1.5rem;
  --md-navbar-height: 4rem;

  --lg-content-pad: 2rem;
  --lg-navbar-pad: 0 2rem;

  --navigation-width: 300px;

  --clr-grey-dark: #aca79a;
  --clr-grey-dark-2: #404040;
}
