.header {
  padding: var(--xs-navbar-pad);
  background-color: var(--bg-primary);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid var(--border-color);

  @include sm-screen(){
    padding: 0 1.25rem;
  }

  @include lg-screen(){
    padding: 0 2rem;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1536px;
    height: var(--xs-navbar-height);
    margin-left: auto;
    margin-right: auto;

    @include sm-screen(){
      height: var(--md-navbar-height);
    }
  }

  &__right-side {
    display: flex;
    gap: 0.6rem;
  }

  &__right-side {
    gap: 0rem;
  }
}

.site {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 2rem;

  &__logo {
    width: 26px;
    margin-right: 0.25rem;
  }

  &__title {
    font-size: 1.125rem;
    color: var(--text-normal);
    font-weight: 600;
  }
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  & img {
    width: 20px;
    padding-bottom: 0.125rem;
  }
}
