.header {
  background-color: inherit;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid var(--surface-10);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--xs-navbar-pad);
    margin: 0 auto;
    max-width: 1536px;
    height: var(--xs-navbar-height);

    @include sm-screen(){
      height: var(--md-navbar-height);
      padding: var(--md-navbar-pad);
    }

    @include lg-screen(){
      padding: var(--lg-navbar-pad);
    }
  }

  &__right-side {
    display: flex;
  }
}

.site {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 2rem;

  &__logo {
    width: 20px;
  }

  &__title {
    font-size: 1.125rem;
    color: var(--text-normal);
    font-weight: 600;
    padding-left: 0.75rem;
  }
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  & img {
    width: 20px;
    padding-bottom: 0.125rem;
  }
}

