.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  &__bar {
    width: 1.25rem;
    height: 0.125rem;
    background-color: var(--primary-alt);

    &:first-child {
      margin-bottom: 0.3rem;
    }

    &:last-child {
      margin-top: 0.3rem;
    }
  }
}


// Breakpoints
@media (min-width: 46.876rem) {
  .hamburger {
    display: none;
  }
}
