.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 0.25rem;

  @include md-screen(){
    display: none;
  }

  &:hover {
    background-color: red;
  }

  &__bar {
    width: 1.25rem;
    height: 0.125rem;
    background-color: var(--surface-15);

    &:first-child {
      margin-bottom: 0.3rem;
    }

    &:last-child {
      margin-top: 0.3rem;
    }
  }
}

