.tags {
  display: none;
  padding: 0 0 0 1rem;
  border-left: 1px solid var(--surface-10);
  margin-bottom: 2.25rem;

  @include lg-screen(){
    display: block;
  }

  &__title {
    margin: 0;
    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-normal);
    margin-bottom: 0.75rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    & a {
      text-decoration: none;
      display: inline-block;
      padding: 0.25rem 0.5rem;
      background-color: inherit;
      color: var(--link);
      border: 1px solid var(--link);
      border-radius: 0.25rem;
      font-size: 0.8125rem;
      font-weight: 700;
      transition: background-color 0.2s;
    }
  }
}
