/* https://codepen.io/mrozilla/pen/OJJNjRb */
/* https://codepen.io/tomhazledine/pen/XWjJMPL */

.page-index .corner-toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: var(--theme-switcher-bg);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.page-index .toggle-text {
  position: absolute;
  top: 24px;
  right: 12px;
  transform: rotate(45deg);
  font-weight: 600;
  font-size: 18px;
  color: var(--theme-switcher-text);
  pointer-events: none;

  &::selection {
    background-color: var(--theme-switcher-bg);
  }
}
