.toc {
  padding: 0.375rem 0.75rem;

  @include lg-screen(){
    padding: 0 0 0 1rem;
    border-left: 1px solid var(--border-color);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.375rem;
    border-bottom: 1px solid var(--border-color);

    @include lg-screen(){
      border-bottom: none;
      margin-bottom: 0.75rem;
    }
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-left: -0.75rem;
    padding-top: 0.125rem;

    @include lg-screen(){
      display: none;
    }

    img {
      width: 22px;
    }
  }

  &__title {
    margin: 0;
    flex: 1;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #c8ccd0;

    @include lg-screen(){
      font-size: 0.9375rem;

    }
  }

  &__btn {
    background: transparent;
    width: 44px;
    height: 44px;
    border: none;
    padding: 0;
    margin-right: -0.75rem;
    cursor: pointer;

    @include lg-screen(){
      display: none;
    }
  }

  &__cross {
    width: 32px;
  }

  &__list {
    margin: 0 0.75rem 0 1.875rem;
    padding: 0;
    list-style-type: none;

    @include lg-screen(){
      margin: 0;
    }

    & > li > a {
      padding-left: 0;
    }

    & > li ul{
      padding-left: 1rem;
    }

    & ul {
      list-style-type: none;
    }

    & a {
      display: block;
      color: hsl(224, 0%, 77%);
      text-decoration: none;
      padding: 0.3125rem 0;
      font-size: 0.875rem;

      &:hover {
        color: hsl(0, 0%, 100%);
      }
    }
  }
}

.toc-btn {
  position: fixed;
  top: calc(1.5rem + var(--xs-navbar-height));
  right: -1.25rem;
  width: 3.75rem;
  height: 3.75rem;
  padding-left: 0.625rem;
  padding-right: 0;
  background-color: var(--toc);
  border-radius: 12.5%;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  cursor: pointer;
  border: 1px solid var(--border-color);

  @include lg-screen(){
    display: none;
  }

  &__img {
    width: 22px;
  }

  &--hide {
    display: none;
  }

  .close-btn {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: #666;
  }
}

