.toc {
  padding: 0.75rem 1.25rem;

  @include lg-screen(){
    padding: 0 0 0 1rem;
    border-left: 1px solid var(--surface-10);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include lg-screen(){
      margin-bottom: 0.75rem;
    }
  }

  &__title {
    margin: 0;
    flex: 1;
    font-size: 0.9375rem;
    font-weight: 700;
    color: var(--text-normal);
  }

  &__btn {
    background: transparent;
    width: 44px;
    height: 44px;
    border: none;
    padding: 0;
    margin-right: -0.75rem;
    cursor: pointer;

    @include lg-screen(){
      display: none;
    }
  }

  &__cross {
    width: 32px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include lg-screen(){
      margin: 0;
    }

    & > li > a {
      padding-left: 0;
    }

    & > li ul{
      padding-left: 1rem;
      border-left: 1px solid var(--surface-10);

      @include lg-screen(){
        border-left: none;
      }
    }

    & ul {
      list-style-type: none;
    }

    & a {
      display: block;
      color: var(--text-muted);
      text-decoration: none;
      padding: 0.3125rem 0;
      font-size: 0.875rem;

      &:hover {
        color: hsl(0, 0%, 100%);
      }
    }
  }
}

.toc-btn {
  position: fixed;
  top: calc(1.5rem + var(--xs-navbar-height));
  right: -1.25rem;
  width: 60px;
  height: 60px;
  padding-left: 0.625rem;
  padding-right: 0;
  background-color: var(--surface-05);
  border-radius: 12.5%;
  border: 1px solid var(--surface-10);
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  cursor: pointer;

  @include lg-screen(){
    display: none;
  }

  &__img {
    width: 22px;
  }

  &--hide {
    display: none;
  }

  .close-btn {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: #666;
  }
}

