<!doctype html>
<html lang="en">
	{% include head.html %}

	<body class="page-default">
		{% include header.html title="Notes" %}

		<div class="page-default__container">
			<div class="page-default__frame">
				<aside class="sidebar sidebar--left" id="left-sidebar">
					<div class="sidebar__inner sidebar__inner--left">
						{% include navigation.html %}
					</div>
				</aside>

				<div class="page-default__wrapper">
					<div class="page-default__content">
						{{ content }}
					</div>

					<aside class="sidebar sidebar--right" id="right-sidebar">
						<div class="sidebar__inner sidebar__inner--right">
							{% include toc.html %}
						</div>
					</aside>
				</div>

				<button class="toc-btn" id="toc-btn">
					<img class="toc-btn__img" src="/assets/icons/toc.svg" alt="Toc Icon">
				</button>
			</div>
		</div>
	</body>
	<script src="/assets/js/hamburger.js"></script>
	<script src="/assets/js/toc.js"></script>
</html>
