<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }} | {{ site.title }}</title>
		<link rel="icon" href="/assets/icons/logo.svg">
		<link rel="stylesheet" href="/assets/css/styles.css">
	</head>

	<body>
		{% include header.html %}
		<div class="container">
			<aside class="container__sidebar-left" id="left-sidebar">
				<div class="container__sidebar-left-inner">
					{% include navigation.html %}
				</div>
			</aside>

			<div class="container__wrapper">
				<div class="container__content">
					{{ content }}
				</div>

				<aside class="container__sidebar-right" id="right-sidebar">
					<div class="container__sidebar-right-inner">
						<h2 class="content-toc__title">Table of Contents</h2>
						{% include toc.html html=content class="content-toc__list" id="toc"%}
					</div>
				</aside>
			</div>
		</div>
	</body>
	<script src="/assets/js/hamburger.js"></script>
	<script src="/assets/js/toc.js"></script> 
</html>
