*, 
*::before,
*::after {
  box-sizing: border-box;
}

@import 'abstracts/variables';

html {
  font-family: var(--font-family);
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  height: 100vh;
  font-size: var(--root-size);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-normal);
  font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-h1);
}

a {
  color: var(--link);
  text-decoration: underline;
  
  &:hover {
    color: var(--link-hover);
  }
}

p {
  line-height: var(--xs-p-line-height);
}
